img {
    width: 300px;
    border: 1px solid black;
}

img:hover {
    border: 20px solid blue;
}

.blue-text {
    color: blue;
}

a:hover {
    color: orange;
}

body {
    text-align: center;
}